.ServicesLWeb {
    background-image: url("./b7.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 98.9vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 99vh;
}

.ServicesLpageBody {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
}

.ServicesLContainer {
    display: flex;
    padding-top: 15px;
    max-height: 100vh;
    overflow-y: auto;
  
}

.ServicesLContent img {
    text-align: center;
    display: flex;
    justify-content: center;
    align-self: center;
    color: #00facc;
}

.ServicesLService {
    background-color: #ffffff4b;
    width: 250px;
    height: 210px;
    border: 1px solid rgba(0, 0, 0, 0.24);
    border-radius: 7px;
    margin: 15px 15px 10px 15px;
    display: flex;
    padding: 15px;
}

.ServicesLService .ServicesLContent {
    text-align: left;
}

.ServicesLService .ServicesLContent img {
    margin-top: 10px;
    width: 65px;
    display: flex;
    margin: auto;
}

.ServicesLService .ServicesLContent h2 {
    margin-top: 10px;
    text-align: center;
    font-size: larger;
}

.ServicesLService .ServicesLContent p {
    margin-top: 10px;
    align-items: justify;
    text-justify: inherit;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.landingServicesDivider {
    border: 1px solid rgba(0, 0, 0, 0.164);
    border-radius: 40px;
    width: 40%;
}

.ServicesLpageBody button {
    margin-bottom: 10px;
}


@media (max-width: 768px) {
    .ServicesLContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: red;
    }

    .ServicesLService {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        background-color: gray;
    }
}

.ServicesLContent p {
    text-align: center;
    /* margin-top: 70px; */
}