.mainLangdingPageSec {
    background-image: url("./back11.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 91vh;
}

.mainPageStructure {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 88vh;
    align-items: center;
}

.LandingpageTexts {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    
}

.LandingpageTexts2 {
    border-radius: 10px;
    box-shadow: 1px 1px 10px 3px rgba(0, 0, 0, 0.76);
    width: 25%;
    text-align: center;
    padding: 10px;
    background-color: rgba(226, 226, 226, 0.486);
    font-size: 1.17vw;
}