.scroll-to-top {
    scroll-behavior: auto !important;
    scroll-margin-top: 0 !important;
}

.servicesWebMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url(../b2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.service1,
.service2,
.service3,
.service4,
.service5 {
    width: 60%;
    display: flex;
    border: 1.8px solid rgba(0, 0, 0, 0.671);
    border-radius: 5px;
    background-color: rgb(224, 255, 250);
    margin: 10px;
    align-items: center;
}


.service3,
.service5 {
    justify-content: end;
}


.servicesWebMain img {
    width: 30vw;
    height: 25vh;
    padding: 10px;
}

.servicesWebMain p {
    padding: 10px;
    font-size: large;
    font-family: Century gothic;
}