button {
  text-align: center !important;
  font-size: 1.5vw !important;
  border-radius: 7px !important;
  background-color: #3acfe9c5 !important;
  padding: 5px !important;
  border: 1px solid rgba(0, 0, 0, 0.24) !important;
  transition: 0.4s !important;
  cursor: pointer !important;
  margin: 30px 0px 15px 0px;
  // color: black !important;
}

button:hover {
  background-color: rgba(88, 243, 222, 0.486) !important;
}

h2 {
  font-size: 2vw;
  font-weight: 600;
}

label {
  font-weight: 400;
  font-size: 1.5vw;
}

h6 {
  color: bisque;
  background-color: brown;
}

.scroll-to-top {
  scroll-behavior: auto !important;
  scroll-margin-top: 0 !important;
}